@import "~normalize.css";
@import "../preloader/dotedPreloader";
@import "../plugins/select/styles.scss";
@import "../pages/menu/menu.scss";
@import "../pages/quiz/quiz.scss";

.app {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}