@import "~normalize.css";
@import "../preloader/preloader.scss";
@import "../plugins/select/styles.scss";
@import "../pages/menu/menu.scss";

.app {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}