.main {
  width: 500px;
  text-align: center;

}

.number-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__label {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &__input {
    padding: 0 1rem;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: .4rem;
    outline: none;
  }
}